@font-face {
    font-family: mikolaj;
    src: url(mikolaj.ttf);
  }
  
body {
    font-family: mikolaj;
    font-size: 260%;
    text-align: center;
    background-color: red;
    color: white;
  }
